@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Silkscreen&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .box {
        @apply shadow-md outline outline-2 outline-border bg-box-bg w-full p-4 rounded-md;
    }

    .box-dark {
        @apply bg-box-bg-dark rounded shadow p-4 outline outline-2 outline-border-dark;
    }
}

@layer utilities {
    .bg-opacity {
background-color: rgba(22, 22, 22, 0.9);
    }
    .text-shadow-sm {
        text-shadow: 1px 1px #000000;
    }
    .text-shadow {
        text-shadow: 1px 2px #000000;
    }

    .text-shadow-md {
        text-shadow: 2px 3px #000000;
    }

    .icon-shadow {
        filter: drop-shadow(1px 2px 0px rgb(0 0 0 / .4));
    }

    .icon-shadow-md {
        filter: drop-shadow(2px 3px 0px rgb(0 0 0 / .6));
    }
}

h1 {
    @apply font-title text-primary text-shadow-md sm:text-shadow text-5xl ;
}

h2,
h3,
h4,
h5,
h6 {
    @apply font-title text-primary text-shadow mb-2 text-3xl ;
}

li {
    @apply  flex items-center;
}

li a {
    @apply text-body text-shadow;
}

a {
    @apply text-primary;
}

a:hover {
    @apply text-secondary;
}
 a:hover svg {
    @apply text-neutral-800;
}
div span {
    @apply font-body;
}

article {
    @apply p-5 grid grid-cols-1 justify-items-center;
}
article h2 {
    @apply text-secondary text-base text-center;
}
svg {
    @apply icon-shadow-md;
}

ul#social svg {
    @apply fill-neutral-100;
}


label {
    @apply font-title text-2xl text-secondary text-shadow col-start-2 col-end-5 xl:col-start-1;
}

 input#email  {
    @apply border-solid border-4 border-border-dark w-full h-10 bg-neutral-800 mb-4 text-2xl col-start-2 xl:col-start-1 xl:col-end-5 col-end-4 row-start-2  ;
}
 input#gdpr {
     @apply mr-2;
 }
input#submit  {
    @apply  border-solid border-2 border-border-dark font-title text-2xl text-neutral-900 w-32 h-10 mt-5 bg-primary rounded shadow ;
}

input#submit:hover  {
    @apply  font-title text-2xl text-[#111] transition-all duration-500 translate-x-0.5 ;
}

textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
    @apply outline-4 outline outline-neutral-800;

}

/* popup */
.popup-bg {
    background-color: rgba(0, 0, 0, 0.5);
}
.popup {

    @apply  flex place-content-center ;
}

.popup-container {
    transform: translateY(-50px);
    transition-duration: 0.3s;
    @apply z-40 flex-col flex max-w-4xl justify-evenly w-full mx-auto my-[50vh] p-5  bg-neutral-700 text-neutral-400 rounded outline outline-4 outline-neutral-800;

}





